* {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-image: url(images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgb(22, 22, 58);
  color: white;
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px black;
}

.amount,
.from,
.to {
  width: 25%;
  font-size: 18px;
}

#amount,
#from,
#to {
  width: 90%;
  margin-left: 3px;
  padding: 5px 8px;
  border-radius: 5px;
}

.result {
  text-align: center;

}

.exchange-button {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.from {
  margin-left: -14px;
}

.to {
  margin-left: -24px;
}

#from,
#to {
  width: 95%;
}

.change {
  margin-top: 30px;
  margin-bottom: -30px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}